{% extends "base.html" %}
{% block content %}
<div class="h-screen flex justify-center items-center">
  <div class="bg-gray-200 dark:bg-[#1a1a1a] p-10 rounded-xl shadow-xl w-96 border dark:border-gray-700">
    <h1 class="text-3xl mb-6 font-semibold text-center text-yellow-500">Zen-Zone Log-In</h1>

    {% if error %}
      <p class="text-red-500 text-center mb-4">Invalid credentials.</p>
    {% endif %}

    <form method="post" action="/login" class="space-y-4">
      <input name="username" placeholder="Username" class="w-full p-3 rounded bg-white dark:bg-[#111] border dark:border-gray-700">
      <input name="password" type="password" placeholder="Password" class="w-full p-3 rounded bg-white dark:bg-[#111] border dark:border-gray-700">
      <button class="w-full p-3 bg-yellow-500 hover:bg-yellow-600 rounded font-bold">
        Log-In
      </button>
    </form>
  </div>
</div>
{% endblock %}
